# JAVA Project : java-rest-api
/java-rest-api/ @angelortizv @jesquivel48
# C# .NET Core Project : api-gateway
/api-gateway/ @jesquivel48 @JoseAgus00
# React Project : frontend
/frontend/ @angelortizv @JoseAgus00
# Python Project : ml-library
/ml-library/ @angelortizv @jesquivel48 @JoseAgus00
